.main-container {
  text-align: center;
  height: 50vh;
  margin: 30px;
  background-image: linear-gradient(to right, plum,yellow );
  padding:30px;
}

.button {
  background-image: linear-gradient(to right, blue,white,lightblue );
  padding: 10px;
  border-radius: 10px;
}

.para {
  color: red;
  font-size: 40px;
  /*font-size: larger;*/
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}